.dropdown-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.dropdown-img .form-button form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.dropdown-img .form-button form select {
    width: 20rem;
}

.dropdown-image {
    display: flex;
    gap: 2rem;
}

.dropdown-image img {
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .dropdown-img {
        padding-left: 0;
        padding-right: 0;
    }

    .dropdown-img .form-button form {
        flex-direction: column;
        gap: 1rem;
    }

    .dropdown-image {
        flex-direction: column;
        gap: 1rem;
    }

}

button {
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  button::before {
    margin-left: auto;
  }
  
  button::after, button::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    transition: 0.5s;
  }
  
  button:hover::after, button:hover::before {
    width: 100%;
  }