
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --container: 144rem;
    --m-auto: 0 auto;
    --white: #fff;
    --primary: #59182b;
    --secondary: #eeeee4;
    --gr-1: rgba(91, 15, 38, 0.607);
    --gr-2: rgba(112, 33, 57, 0.665);
    --nav: rgba(225, 225, 225, 0.045);
    --mobile-nav: #7d3e59;
    --count-down-bg: rgba(238, 235, 235, 0.295);
    --timer-before-bg: rgb(218, 201, 109);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    
}

::-webkit-scrollbar {
    width: 0;
}

body {
    font-size: 1.6rem;
}

.container {
    max-width: var(--container);
    padding: 0 2rem;
    margin: var(--m-auto);
}

#hero {
    background: linear-gradient(var(--gr-1), var(--gr-2)) no-repeat center center / cover;
}

.header {
    background: var(--nav);
    backdrop-filter: blur(10px);
}

.navigation {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.standings-heading1 {
    padding-top: 2rem;
    font-size: 4rem;
    color: #e1e7f1;
}
.standings-subheading2 {
    padding-top: 2rem;
    font-size: 2rem;
    color: #e1e7f1;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.standings-subheading{
    color: #e1e7f1;
}



.points-container {
    padding: 3rem 0 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.points-table {
    box-shadow: 0 0 0.5rem 0.2rem var(--secondary);
    border-radius: 0.5rem;
}

.group-heading {
    padding: 0.5rem 0;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary);
    background: #7f1533;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.points-table table {
    width: 100%;
    border-collapse: collapse;
}

.points-table table thead tr {
    text-align: left;
    background: #500f21;
}

.points-table table thead tr th {
    padding: 1rem;
    color: var(--secondary);
}

.points-table table tbody tr:not(:last-child) {
    border-bottom: 0.02rem solid rgba(118, 114, 115, 0.447);
}

.points-table table tbody tr:nth-child(1),
 .points-table table tbody tr:nth-child(2), 
 .points-table table tbody tr:nth-child(3),
 .points-table table tbody tr:nth-child(4){
    background: #e1e7f1;
    font-weight: bold;
}

.points-table table tbody tr td {
    padding: 0.7rem 0;
    text-align: center;
}

.team-flag {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    box-shadow: 0 0 0.5rem rgb(143, 112, 112);
}

.d-a {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}